<div class="cls1">
    <h1 style="padding-top: 20px;"><b>About</b></h1><br>
    <h3>BUILDING BLOCKS</h3>
    <p>One of the earliest banks in India,  "Bharat Bank" came into being on 1939. The establishment 
        of the bank was the fulfillment of the dreams of a group of enterprising men who joined together 
        at Mumbai, a major town, in the erstwhile State of Delhi to provide for the people a safe, 
        efficient and service oriented repository of savings of the community on one hand and to free 
        the business community from the clutches of greedy money lenders on the other by providing 
        need based credit at reasonable rates of interest.Translating the vision of the founding 
        fathers as its corporate mission, the bank has during its long sojourn been able to project 
        itself as a vibrant, fast growing, service oriented and trend setting financial intermediary.
    </p>
    <h3>MILESTONES</h3>
    <p>The FIRST among the private sector banks in India to become a scheduled bank in 1940 under the 
        RBI Act.The FIRST bank in the private sector in India to open a Currency Chest on behalf of 
        the RBI in April 1945. The FIRST private sector bank to open a NRI branch in November 1950.
        The FIRST bank in the private sector to start an Industrial Finance Branch in March 1952.
        The FIRST among the private sector banks in India to open an branch to cater exclusively to 
        the export and import business in June 1957. The FIRST bank in India to develop an in-house, 
        lly integrated branch automation software in addition to the in-house partial automation solution 
        operational since 1960. The FIRST India based bank to implement Core Banking System.
    </p>
    <h3>FUTURE PERFECT</h3>
    <p>The Bharath Bank with a new logo and image, marches on. With branches all over India and a 
        clientele across the world, the bank is considered one of the most pro active banks in India 
        with a competent tech savvy team of professional at the core of services.</p>
</div>

